*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: @font-family;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

h1 {

}

h2 {
  font-family: @font-family;
  font-weight: 700;
  font-size: @font-size-h2;
  text-transform: uppercase;
}

h3 {
}

p {
  font-family: @font-family;
  font-size: @font-size-basic;
  line-height: 24px;
  text-transform: uppercase;
  color: @color-gray;
}

a {

  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li{
  font-family: @font-family;
  font-weight: 700;
  font-size: @font-size-h2;
  text-transform: uppercase;
  list-style-type: none;
  color: @color-white;
}

.wrapper {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

@media (min-width: 768px) {
  .wrapper {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 0;
  }

  h2 {
    font-family: @font-family;
    font-size: @font-size-h2+3;
  }

}


@media (min-width: 1200px) {
  body{
    background-color: @color-lightgray;
  }

  .wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  h2 {
    font-family: @font-family;
    font-size: @font-size-h2+3;
  }

}
