.features {
    text-align: center;
    position: relative;
}

.features::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    background-image: url("../img/bg-triangle.svg");
    background-position: bottom center;
    height: 15px;
    width: 100%;
}

.features__1-top,
.features__2-top {
    background-color: @color-blue;
    text-align: center;
    color: white;
}

.features__1-top-text,
.features__2-top-text {
    padding: 60px 20px 45px;
}

.features__1-top-photo {
    height: 260px;
    background-image: url("../img/photo-city-mobile@1x.jpg");
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: url("../img/photo-city-mobile@2x.jpg");
    }
    @media (min-width: 768px) {
        background: url("../img/photo-city-tablet@1x.jpg");
    }
    @media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
        background: url("../img/photo-city-tablet@2x.jpg");
    }
    @media (min-width: 1200px) {
        background: url("../img/photo-city@1x.jpg");
    }
    @media (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
        background: url("../img/photo-city@2x.jpg");
    }
}

.features__2-top-photo {
    height: 260px;
    background-image: url("../img/photo-bridge-mobile@1x.jpg");
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background: url("../img/photo-bridge-mobile@2x.jpg");
    }
    @media (min-width: 768px) {
        background: url("../img/photo-bridge-tablet@1x.jpg");
    }
    @media (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
        background: url("../img/photo-bridge-tablet@2x.jpg");
    }
    @media (min-width: 1200px) {
        background: url("../img/photo-bridge@1x.jpg");
    }
    @media (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
        background: url("../img/photo-bridge@2x.jpg");
    }
}

.features__1-top h2,
.features__2-top h2 {
    margin-bottom: 20px;
}

.features__1-top span,
.features__2-top span {
    display: block;
    margin-bottom: 25px;
}

.features__1-top p,
.features__2-top p {
    color: @color-white;
}

.features__1-bottom {
    padding: 40px 20px;
    background-color: @color-white;
}

.features__1-bottom-icon-header {
    display: flex;
    flex-direction: row;
    fill: @color-blue;
    text-align: left;
}

.features__1-icon-burger,
.features__1-icon-gift,
.features__1-icon-house {
    margin-right: 12px;
    position: relative;
    top: -10px;
}

.features__1-bottom-icon-text {
    width: 210px;
    margin-bottom: 15px;
}

.features__1-bottom-icon-text h2 {
    margin-bottom: 20px;
}

.features__2-bottom-icon-header {
    padding: 35px 35px 30px;
    background: @color-lightgray;
    position: relative;
}

.features__2-bottom-icon-header::after {
    position: absolute;
    content: "";
    text-align: center;
    left: 30px;
    bottom: 0;
    width: 80%;
    height: 1px;
    background: #d6d6d6;
}

.features__2-bottom-icon-header h2 {
    margin-bottom: 20px;
}

.features__2-bottom-icon-header span {
    display: block;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    .features::before {
        display: none;
    }

    .features__1-top {
        display: flex;
        justify-content: space-between;
    }

    .features__2-top {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .features__1-top-text,
    .features__2-top-text {
        width: 255px;
        height: 255px;
        padding: 40px 20px;
    }

    .features__1-top-photo,
    .features__2-top-photo {
        width: 513px;
        height: 255px;
        background-size: 100%;
        background-position: center;
    }

    .features__1-bottom {
        display: flex;
        justify-content: space-between;
        padding: 40px 50px;
    }

    .features__1-bottom-icon-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    .features__1-bottom-item:nth-child(2) p {
        width: 180px;
        margin: 0 auto;
    }

    .features__1-icon-burger,
    .features__1-icon-gift,
    .features__1-icon-house {
        position: static;
        margin: 0 auto 30px;
    }

    .features__1-icon-house {
        width: 75px;
        height: 73px;
    }

    .features__1-icon-gift {
        width: 64px;
        height: 73px;
    }

    .features__1-icon-burger {
        width: 77px;
        height: 73px;
    }

    .features__1-bottom-item:nth-child(1) {
        order: 1;
    }

    .features__1-bottom-item:nth-child(2) {
        order: 3;
    }

    .features__1-bottom-item:nth-child(3) {
        order: 2;
    }

    .features__2-bottom {
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
        background-color: @color-lightgray;
    }

    .features__2-bottom-item {
        width: 32%;
    }

    .features__2-bottom-item:nth-child(1) {
        width: 35%;
    }

    .features__2-bottom-icon-header::after {
        display: none;
    }
}
@media (min-width: 1200px) {
    .features__1-top-text,
    .features__2-top-text {
        width: 400px;
        height: 255px;
        padding: 60px 40px;
    }

    .features__1-top-photo,
    .features__2-top-photo {
        width: 800px;
        height: 255px;
        background-size: cover;
        overflow: hidden;
        background-repeat: no-repeat;
    }

    .features__1-bottom {
        padding: 65px 70px 80px;
    }

    .features__1-bottom-icon-text,
    .features__1-bottom-item {
        width: 30%;
        margin: 0 auto;
    }

    .features__1-bottom-icon-text,
    .features__1-bottom-item:nth-child(2) p {
        width: 100%;
    }

    .features__2-bottom{
          padding: 50px 70px 70px;
    }

    .features__2-bottom-item{
      padding: 0;
    }


}
