.page-footer {
    text-align: center;
    padding: 40px 0 25px;
}

.page-footer__social {
    display: flex;
    justify-content: space-between;
    padding: 0 85px;
    margin-bottom: 30px;
}

.page-footer h2 {
    font-family: @font-family;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 40px;
}

.page-footer__icon {
    display: block;
    background: @color-blue;
    width: 46px;
    height: 48px;
}

.page-footer__icon:hover {
    background-color: @color-blue-hover;
}

.page-footer__icon:active {
    background-color: @color-blue-active;
    color: rgba(255, 255, 255, 0.3);
}

.page-footer__icon-fb,
.page-footer__icon-tw,
.page-footer__icon-ytb {
    position: relative;
    top: 30%;
    fill: @color-white;
}

.page-footer__icon:active .page-footer__icon-fb,
.page-footer__icon:active .page-footer__icon-tw,
.page-footer__icon:active .page-footer__icon-ytb {
    opacity: 0.3;
}

.page-footer__icon-copyright {
    display: inline-block;
    position: relative;
    top: 12px;
    fill: @color-black;
}

.page-footer__copyright:hover .page-footer__icon-copyright {
    fill: @color-blue;
}

.page-footer__copyright:active .page-footer__icon-copyright {
    fill: @color-lightgray;
}
